:root{
      background-image: url("./img/myrecordshop.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family: 'Ubuntu', sans-serif;
}
#filled-size-normal{
text-align: center;
}